{% extends 'base.html' %}
{% load static %}
{% block 'main' %}
<div>
    
    <h3 class="bg bg-primary text-white text-center">View Appointment</h3>
                        <table class="table table-hover table-bordered">
                        <thead>
                          <tr>
                            <th scope="col">APPOINTMENT</th>
                            <th scope="col">DOCTOR NAME</th>
                            <th scope="col">PATIENT NAME</th>
                            <th scope="col">DATE</th>
                            <th scope="col">TIME</th>
                            <th scope="col">DELETE</th>
                          </tr>
                        </thead>

                          {% for x in data %}
                            <tr>
                              <td>{{x.id}}</td>
                              <td>{{x.doctor}}</td>
                              <td>{{x.Patient}}</td>
                              <td>{{x.Date}}</td>
                              <td>{{x.Time}}</td>
                              <td><a href="dels/{{x.id}}"><button class="btn btn-danger">Delete</button></a></td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
        
</div>

{% endblock 'main' %}